{% extends 'dashboard/base.html' %}

{% block content %}
    <h1>{{ question_session.name }}</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_question">Ask a question</label>
            <textarea class="form-control" name="question" id="id_question" cols="30" rows="10"></textarea>
        </div>
        {% if form.question.errors %}
            {% for error in form.question.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <ul>
        {% for question in question_list %}
            <li>{{ question.text }}</li>
        {% empty %}
            <li>There are no questions yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}
