{% extends 'dashboard/base.html' %}

{% block content %}
    <h1>Sessions</h1>

    <ul>
        {% for question_session in question_session_list %}
            <li>
                <div class="session-detail">
                    <a href="{% url 'dashboard:question_list' question_session.pk %}">
                      <h3 class="title">
                        {{ question_session.name }}
                      </h3>
                    </a>
                </div>
                <div class="date">{{ question_session.time }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
